{% extends 'base.html' %}
{% block content %}
    <h1>{% block title %} TERRArism {% endblock %}</h1>
    <form action="/logout?user_id={{ user_id }}" method="post">
        <button type="submit" name="logout">logout</button>
    </form>
    <h2>Grow potatoes with the calories you burn every day :)</h2>
    <p>current progress: {{ current_progress }}/{{ current_potato }} kcal</p>
    <p>potatoes harvested: {{ harvested }}</p>
    <h3>Yesterday's stats</h3>
    <p>calories: {{ calories }} kcal</p>
    <p>steps: {{ steps }}</p>
    <p>distance: {{ distance }}</p>

    <h2>potato farm</h2>
    <canvas id="Canvas" style="width: 500; height: 500; border: 1px solid black;"></canvas>

    <script>
        const canvas = document.getElementById("Canvas");
        const ctx = canvas.getContext("2d");
        
        ctx.fillStyle = "#79dc5b";
        ctx.fillRect(0, 0, canvas.width, canvas.height);

        const img = new Image();
        img.src = "/static/img/potato.png";
        img.onload = function() {
            ctx.drawImage(img, 50, 50, 100, 100);
        }
    </script>
{% endblock %}